.center
{
    text-align: center;
}

.blue
{
    background-color: lightblue;
}

.white
{
    background-color: white;
}

.dark
{
    background-color: green;
}

.cool
{
    background-color: coral;
}
