<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <!-- For navbar, or hamburger button -->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- For navigation buttons, highlight when current -->
    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup" style="margin-top: 2px">
        <ul class="navbar-nav mx-auto my-auto mt-auto mb-auto">
            <li class="nav-item {% if page.title == 'Home' %}active{% endif %}">
                <a class="nav-item nav-link " href="/">Home</a>
            </li>

            <li class="nav-item {% if page.title == 'About Me' %}active{% endif %}">
                <a class="nav-item nav-link " href="/about/">About
                    Me</a>
            </li>
            <li class="nav-item {% if page.title == 'Portfolio' %}active{% endif %}">
                <a class="nav-item nav-link " href="/portfolio/">Portfolio
                </a>
            </li>
            <li class="nav-item {% if page.title == 'Contact' %}active{% endif %}">
                <a class="nav-item nav-link " href="/contact/">Contact
                </a>
            </li>
        </ul>
    </div>

    </div>
</nav>